<!DOCTYPE html>
<html class="no-js" lang="en-us">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% for item in css %}
		<link rel="stylesheet" href="{{ item }}" />
	{% endfor %}
	{% for item in js %}
		<script src="{{ item }}"></script>
	{% endfor %}
</head>
<body>
	{% block main %}
        {% include 'DtcQueueBundle:Queue:nav.html.twig' %}
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
    {% endblock %}
</body>
</html>
