<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="DtcQueueBundle Test Suite">
            <file>./Tests/Model/StaticJobManagerTest.php</file>
            <file>./Tests/Model/JobTest.php</file>
            <file>./Tests/Model/WorkerTest.php</file>
            <file>./Tests/Model/WorkerManagerTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>