<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php"
    stopOnFailure               = "true"
    verbose                     = "true"
    colors                      = "true">

    <testsuites>
        <testsuite name="DtcQueueBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>
    <coverage includeUncoveredFiles="true" processUncoveredFiles="true" pathCoverage="true">
        <include>
            <directory suffix="php">.</directory>
        </include>
        <exclude>
            <directory>Resources</directory>
            <directory>vendor</directory>
            <directory>Tests</directory>
        </exclude>
    </coverage>

</phpunit>
