<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php"
    stopOnFailure               = "true"
    colors                      = "true"
    failOnWarning               = "false"
    failOnDeprecation           = "false">

    <testsuites>
        <testsuite name="unit">
            <directory>./Tests/Model</directory>
            <directory>./Tests/Entity</directory>
            <directory>./Tests/Document</directory>
            <directory>./Tests/EventDispatcher</directory>
            <directory>./Tests/Manager</directory>
            <directory>./Tests/DependencyInjection</directory>
            <directory>./Tests/Util</directory>
            <file>./Tests/ORM/SqliteJobManagerTest.php</file>
            <exclude>./Tests/Manager/BaseJobManagerTest.php</exclude>
        </testsuite>
        <testsuite name="integration">
            <directory>./Tests/ORM</directory>
            <directory>./Tests/ODM</directory>
            <directory>./Tests/Redis</directory>
            <directory>./Tests/RabbitMQ</directory>
            <directory>./Tests/Beanstalkd</directory>
            <directory>./Tests/Command</directory>
            <directory>./Tests/Controller</directory>
            <directory>./Tests/Run</directory>
            <directory>./Tests/Doctrine</directory>
            <exclude>./Tests/Doctrine/DoctrineJobManagerTest.php</exclude>
            <exclude>./Tests/Doctrine/BaseLiveJobGridSourceTest.php</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix="php">.</directory>
        </include>
        <exclude>
            <directory>Resources</directory>
            <directory>vendor</directory>
            <directory>Tests</directory>
        </exclude>
    </source>

</phpunit>
