{% extends "@DtcGrid/Page/datatables.html.twig" %}

{% block grid %}
    {% include '@DtcQueue/Queue/nav.html.twig' %}

    <h3>{{ dtc_queue_grid_label1 }}</h3>
    {{ dtc_grid.render | raw }}
    <h3>{{ dtc_queue_grid_label2 }}</h3>
    {{ archive_grid.render | raw }}
{% endblock %}

