{% extends "DtcGridBundle:Page:datatables.html.twig" %}
{% import "DtcQueueBundle:Queue:macros.html.twig" as queue_macros %}
{% block title %}DtcQueue - Admin - Waiting Jobs{% endblock %}
{% block grid %}
    {% include 'DtcQueueBundle:Queue:nav.html.twig' %}

    <h3>Waiting Jobs</h3>
    {{ dtc_grid.render | raw }}
    {{ queue_macros.jobs_action_button('Archive', 'dtc_queue_archive_waiting', workers_methods, 'This will archive all waiting jobs.', 'archive', dtc_queue_grid_id) }}
    <script src="{{ queue_js }}"></script>
{% endblock %}
