{% extends "DtcGridBundle:Page:datatables.html.twig" %}
{% import "DtcQueueBundle:Queue:macros.html.twig" as queue_macros %}
{% block title %}DtcQueue - Admin - Waiting Jobs{% endblock %}
{% block grid %}
    {% include 'DtcQueueBundle:Queue:nav.html.twig' %}

    <h3>Waiting Jobs</h3>
    {{ dtc_grid.render | raw }}
    {{ queue_macros.worker_method_button('Archive', 'dtc_queue_archive', worker_methods, prompt_message, 'archive') }}
    <script src="{{ app.request.baseUrl }}/bundles/dtcqueue/js/jobs.js?v=5"></script>
{% endblock %}
