{% extends "DtcGridBundle:Page:datatables.html.twig" %}
{% block title %}DtcQueue - Admin - Live Jobs{% endblock %}
{% block grid %}
    {% include 'DtcQueueBundle:Queue:nav.html.twig' %}

    <h3>Live Jobs</h3>
    {{ dtc_grid.render | raw }}
    <button class="btn btn-primary grid-delete" onclick="dtc_grid_delete(this)"><i class="fa fa-circle-o-notch fa-spin hidden"></i> Archive</button>

{% endblock %}
