{% extends "DtcGridBundle:Page:datatables.html.twig" %}
{% import "DtcQueueBundle:Queue:macros.html.twig" as queue_macros %}
{% block title %}DtcQueue - Admin - Running Jobs{% endblock %}
{% block grid %}
    {% include 'DtcQueueBundle:Queue:nav.html.twig' %}

    <h3>Running Jobs</h3>
    <h4><em>(Including Stalled Jobs)</em></h4>
    {{ dtc_grid.render | raw }}
    {{ queue_macros.worker_method_button('Prune Stalled', 'dtc_queue_prune_stalled', worker_methods, prompt_message, 'prunestalled') }}
    {{ queue_macros.worker_method_button('Reset Stalled', 'dtc_queue_reset_stalled', worker_methods, prompt_message, 'resetstalled') }}
    <script src="/bundles/dtcqueue/js/jobs.js?v=4"></script>
{% endblock %}
