{% extends "DtcGridBundle:Page:datatables.html.twig" %}

{% block grid %}
    {% include 'DtcQueueBundle:Queue:nav.html.twig' %}

    <h3>Live Jobs</h3>
    {{ dtc_grid.render | raw }}
{% endblock %}
