{% extends "DtcQueueBundle::layout.html.twig" %}

{% block content %}
	<h3>Jobs in Queue</h3>
    {{ grid.render | raw }}
	<script>
        $(document).ready(function() {
            $('[data-jqtable]').jqtable();
        })
	</script>
{% endblock %}
