{% extends "DtcGridBundle:Page:datatables.html.twig" %}
{% import "DtcQueueBundle:Queue:macros.html.twig" as queue_macros %}
{% block title %}DtcQueue - Admin - Runs{% endblock %}

{% block grid %}
    {% include 'DtcQueueBundle:Queue:nav.html.twig' %}

    <h3>{{ dtc_queue_grid_label1 }}</h3>
    {{ dtc_grid.render | raw }}
    <div class="form-group form-inline">
        <button id="prune-stalled-runs-action" class="btn btn-primary"><i class="fa fa-circle-o-notch fa-spin hidden"></i> Prune Stalled</button> <progress style="display: none" id="prune-stalled-runs-progress"></progress>
    </div>
    <h3>{{ dtc_queue_grid_label2 }}</h3>
    {{ archive_grid.render | raw }}
    <div class="form-group form-inline">
        <button id="delete-archived-runs-action" class="btn btn-primary"><i class="fa fa-circle-o-notch fa-spin hidden"></i> Delete Archived</button> <progress style="display: none" id="delete-archived-runs-progress"></progress>
    </div>
    <script src="/bundles/dtcqueue/js/jobs.js?v=4"></script>
{% endblock %}