{% extends "DtcQueueBundle::layout.html.twig" %}
{% block title %}DtcQueue - Admin - Workers{% endblock %}
{% block content %}
    <ul>
    {% for name, className in workers %}
        <li>{{ name }}: {{ className }}</li>
    {% endfor %}
    </ul>
{% endblock %}
